.page-header {
  color: white;
  font-size: 20px;
  background-color: firebrick;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
  padding-left: 20px
}

.alignright {
  float: right
}

.alignleft {
  float: left 
}
